<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Book</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body>
<!--<div th:insert="fragments/header :: header"></div>-->
<div class="container my-5">
    <h3>Add books</h3>
    <div class="card">
        <div class="card-body">
                <form action="#" th:action="@{/booksadd}" th:object="${books}" method="post">
                    <div class="row">

                        <div class="form-group col-md-8">
                            <label for="bookName" class="col-form-label">Book Name</label>
                            <input type="text" th:field="*{bookName}" class="form-control" id="bookName" th:value="${books.bookName}" placeholder="book Name"  required/>
                        </div>

                        <div class="form-group col-md-8">
                            <label for="bookAuthor" class="col-form-label">Author Name </label>
                            <input type="text" th:field="*{bookAuthor}" class="form-control" id="bookAuthor" th:value="${books.bookAuthor}" placeholder="Book Author" required/>
                        </div>

                        <div class="form-group col-md-8">
                            <label for="bookPrice" class="col-form-label">Price</label>
                            <input type="text" th:field="*{bookPrice}" class="form-control" id="bookPrice" th:value="${books.bookPrice}" placeholder="price" required/>
                        </div>

                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value=" Submit ">
                        </div>
                    </div>
                </form>

        </div>
    </div>
</div>
<!--<div th:insert="fragments/footer :: footer"></div>-->
</body>

</html>